# OS X temporary files that should never be committed
Dshare/.DS_Store

# Pods
Dshare/Pods/
Dshare/Dshare/GoogleService-Info.plist
Dshare/Podfile.lock
*.xcworkspace

# Xcode build files 
Dshare/DerivedData/
Dshare/build/

# Xcode temporary files that should never be committed
*~.nib
